{% extends "base.html" %}

{% block title %}Download{% endblock %}

{% block content %}

<div >
<br>
<h1>Uploads</h1>
<br>
    <table class="table table-bordered table-hover" style="overflow-x: auto;">
            <thead>
                <th scope="col">File</th>
                <th scope="col">Open</th>
                <th scope="col">Delete</th>
            </thead>
            <tbody>
                {% for item in tree.children %}
                    <tr>
                        <td>{{item.name}}</td>
                        <td><a class="btn btn-primary" href="/uploads/{{ item.name }}" target="_blank">View</a></td>
                        <td><a class="btn btn-danger" href="/uploads/delete/{{ item.name }}">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>  
</div>

{% endblock %}